@font-face {
    font-family: "Gilroy";
    src:
        local("Gilroy"),
        url("../../../public/fonts/Gilroy-Regular.woff") format("woff"),
        url("../../../public/fonts/Gilroy-Regular.eot") format("eot"),
        url("../../../public/fonts/Gilroy-Regular.ttf") format("ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy";
    src:
            local("Gilroy"),
            url("../../../public/fonts/Gilroy-Medium.woff") format("woff"),
            url("../../../public/fonts/Gilroy-Medium.eot") format("eot"),
            url("../../../public/fonts/Gilroy-Medium.ttf") format("ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";
    src:
            local("Gilroy"),
            url("../../../public/fonts/Gilroy-Black.woff") format("woff"),
            url("../../../public/fonts/Gilroy-Black.eot") format("eot"),
            url("../../../public/fonts/Gilroy-Black.ttf") format("ttf");
    font-weight: 700;
}