:root {
    /* BASE COLORS */
    --color-base-900: #0E0E0E;
    --color-base-800: #1A1A1A;
    --color-base-700: #282828;
    --color-base-600: #303030;
    --color-base-500: #404040;
    --color-base-400: #5A5A5A;
    --color-base-300: #A7A7A7;
    --color-base-050: #F0F0F0;
    --color-base-000: #FFFFFF;

    /* ACCENT COLORS */
    --color-accent-01: #FF6411;
    --color-accent-02: #1DB9CE;
    --color-accent-03: #1C49A6;
    --color-accent-04: #BDE8DC;
    --color-accent-05: #627AB4;
}